@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background-color: #efefef;
  font-size: 12px;
}

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.App {
  width: 100%;
  max-width: 768px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #333;
  box-shadow: 0px 0px 15px gray;
}

.Header {
  width: 100%;
  background-color: #66d8f5;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.hcontent{
  margin-left: 10px;
}

.Footer {
  width: 100%;
  background-color: #66d8f5;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header h1 {
  font-size: 1.5rem;
}

.Header svg {
  font-size: 2rem;
}

.Footer {
  padding: 0.75rem;
  display: grid;
  place-content: center;
  font-size: 12px;
}

.Nav {
  width: 100%;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.searchForm {
  width: 80%;
  padding: 1rem 0 0 0.75rem;
}

.searchForm input[type="text"] {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  font-size: 17px;
  padding: 10px;
  border-radius: 20px;
  border:none;
  outline: none;
  max-height: 35px !important;
  background-color: rgb(243, 237, 237);
}

.searchForm label {
  position: absolute;
  left: -99999px;
}

.Nav ul {
  color: #fff;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.Nav li {
  padding: 22px;
}

.Nav li:hover, 
.Nav li:focus {
  padding: 22px;
  font-weight: 600;
}

.Nav li a {
  color: #fff;
  text-decoration: none;
}

.Nav li:hover, 
.Nav li:focus, 
.Nav li:hover a, 
.Nav li:focus a  {
  background-color: #eee;
  color: #333;
}


.Nav li:hover, 
.Nav li:focus {
  cursor: pointer;
}

.Home, .NewPost, .PostPage, .About, .Missing{
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto ;
  background-color: #fff;
  
}
.Home::-webkit-scrollbar, .NewPost::-webkit-scrollbar, .PostPage::-webkit-scrollbar, .About::-webkit-scrollbar, .Missing::-webkit-scrollbar{
  display: none;
}


.nopost{
  font-size: 20px ;
  text-align: center;
  margin-top: 100px;
}

.post {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}

.Home .post a {
  text-decoration: none;
}

.Home .post a, 
.Home .post a:visited {
  color: #000;
}

.post:first-child {
  margin-top: 0;
}

.post:last-child {
  border-bottom: none;
}

.postdate {
  margin-top: 0.25rem;
  font-size: 10px!important;
  color: grey;
}

.postBody {
  margin: 1rem 0;
  margin-bottom: 30px;
  width: 100%;
  font-size: 14px;

  
}

.newPostForm {
  display: flex;
  flex-direction: column;
}

.newPostForm label {
  margin-top: 1rem;
}

.newPostForm input[type='text'], 
.newPostForm textarea {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  min-height: 40px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
  border: 1px solid rgb(188, 175, 175)
}

.newPostForm textarea {
  height: 150px !important;
}

.newPostForm button {
  margin-top: 1rem;
  height: 48px;
  min-width: 48px;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  background-color:#333;
  color: white;
  font-size: 14px;
  border: navajowhite;
  width: 100%;
}

.Missing p, .PostPage p, .NewPost p {
  margin-top: 1rem;
}

.PostPage button {
  height: 48px;
  min-width: 48px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  
}

.deleteButton {
  background-color: rgb(233, 27, 27);
  border: none;
  font-size: smaller;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-width: 70px !important;
  max-height: 40px !important;

}

.editButton {
  background-color: #3a3737;
  border: none;
  min-width: 70px !important;
  margin-right: 20px!important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-height: 40px !important;

}

.statusMsg {
  margin-top: 2rem;
}

@media only screen and (min-width: 610px) {
  html {
    font-size: 12px;
  }

  .Header h1 {
    font-size: 2rem;
  }

  .Nav {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 14px !important;
  }

  .Nav ul {
    text-align: right;
  }

  .Nav li:hover, 
  .Nav li:focus, 
  .Nav li:hover a, 
  .Nav li:focus a  {
    background-color: #eee;
    color: #333;
  }

  .searchForm {
    width: 50%;
    padding: .5rem 0;
  }
 
  .searchForm input[type="text"] {
    margin-left: 1.5rem;
  }

  .newPostForm textarea {
    height: 300px;
  }
  .post{
    font-size: 14px !important ;
  }


}

@media only screen and (min-width: 992px) {

  .Header svg {
    font-size: 3rem;
  }



}
@media only screen and (max-width: 768px) {
  .Nav li, .Nav li:hover, .Nav li:focus{
    padding: 1rem;
  }


}



@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

.mainLoginInput{
  height: 40px;
  padding: 0px;
  font-size: 30px;
  margin: 5px 0;
}

.mainLoginInput::-webkit-input-placeholder { 
font-family: FontAwesome, sans-serif;
font-weight: normal;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
color: rgb(80, 79, 79);
}
